.app-layout {
  display: flex;
  height: 100vh;
  background-color: var(--color-bg);
}

.sidebar {
  width: 25%;
  min-width: fit-content;
  max-width: 220px;
  background: var(--color-bg-light);
}

.sidebar-content {
  padding: 5%;
  width: 100%;
  height: 100%;
  font-size: large;
}

.sidebar-content .sidebar-title {
  padding: 5%;
  width: 100%;
}

.sidebar-content .sidebar-title hr {
  border: none;
  border-top: 3px solid var(--color-text);
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
}

.sidebar-content .sidebar-title h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text);
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar-content .sidebar-title h2:hover {
  letter-spacing: 5px;
  transition: all 0.3s ease;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sidebar-nav-item {
  display: flex;
  margin: 5% 3%;
  font-size: 1.3rem;
  background-color: var(--color-bg-accented);
  padding: 5%;
  border-radius: 5px;
  justify-content: center;
  transition: all 0.4s ease;
}

.sidebar-nav-item:hover {
  background-color: var(--color-bg-darker);
  color: var(--color-text-light);
  cursor: pointer;
  transition: all 0.4s ease;
}

.sidebar-nav-item a {
  color: var(--color-text);
  font-weight: 600;
}

.sidebar-nav-item a.active {
  font-weight: bolder;
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 20px;
}