.task-creation-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(135deg, #f5f7fa 0%, #e9ecf1 100%); */
  padding: 2%;
  border-radius: 16px;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
}
