/* Reset all standard CSS styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    background: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

button, input, select, textarea {
    background: none;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    appearance: none;
}

:root {
    -webkit-tap-highlight-color: transparent;
    
    --color-bg: #25201a;
    --color-bg-alt: #22333B;
    --color-bg-light: #EAE0D5;
    --color-bg-accented: #C6AC8F;

    --color-text: #5E503F;
    --color-text-alt: #C6AC8F;    
    --color-text-dark: #0A0908;
}